@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap');
@import 'utils/drop-shadow';
:root { //abstracts
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiary: #99E2D0;
    --dark-gray: #353535;
    --gray: #eaeaea;
    --light-gray: #f6f6f6;
}
.hidden { //utils
    visibility: hidden;
}
body, h1 {
    margin: unset;
}
a {
    text-decoration: none;
}
header { //layout
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: white;
    img {
        width: 50vw;
    }
}
.button { //components
    @include drop-shadow;
    border-radius: 40px;
    display: inline-block;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 20px;
    background: linear-gradient(var(--secondary), var(--primary));
}
.heart { //components
    .fa-heart {
        line-height: unset;
        background-clip: text;
    }
    .fa-solid, input {
        display: none;
    }
    input:checked + label .fa-solid, label:hover {
        display: inline-block;
        background: linear-gradient(var(--primary), var(--secondary));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    input:checked + label .fa-regular{
        display: none;
    }
}
footer { //layout
    background-color: var(--dark-gray);
    padding: 20px;
    > img {
        filter: invert(1);
        width: 25%;
        margin-bottom: 15px;
    }
    nav {
        // display: grid;
        // grid-template-columns: 15px auto auto;
        // gap: 10px;
        // align-items: center;
        // grid-template-areas:
        //     "a b b"
        //     "c d d"
        //     "e e e"
        //     "f f f"
        // ;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 400;
        span {
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: inherit;
            i {
                width: 15px;
            }
        }
    }
    a {
        color: white;
    }
}
// #footer-utensils {
//     grid-area: a;
// }
// #footer-suggest {
//     grid-area: b;
// }
// #footer-handshake {
//     grid-area: c;
// }
// #footer-partner {
//     grid-area: d;
// }
// #footer-legal {
//     grid-area: e;
// }
// #footer-contact {
//     grid-area: f;
// }