@use '../abstracts/colors';
@import '../utils/breakpoints';
footer {
    background-color: colors.$dark-gray;
    padding: 20px;
    & > img {
        filter: invert(1);
        max-width: 25%;
        margin-bottom: 15px;
    }
    nav {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 400;
        span {
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: inherit;
            i {
                width: 15px;
            }
        }
    }
    a {
        color: white;
    }
    @include desktop-breakpoint {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 50px;
        nav {
            flex-direction: row;
            padding-bottom: 10px;
            & > *:nth-child(2) {
                padding-right: 50px;
            }
        }
        & > img {
            max-width: 10%;
            padding: 0 50px;
            transform: translateY(5px);
        }
    }
}