@use '../utils/hidden';
@import '../utils/breakpoints';
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: white;
    img {
        max-width: 50vw;
        @include desktop-breakpoint {
            max-width: 10vw;
        }
    }
}