@use '../utils/hidden';
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: white;
    img {
        max-width: 50vw;
    }
}