@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
:root {
    font-family: 'Roboto', sans-serif;
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiary: #99E2D0;
    --tertiary-dark: #008766;
    --dark-gray: #353535;
    --gray: #eaeaea;
    --light-gray: #f6f6f6;
}
.hidden {
    visibility: hidden;
}
body {
    margin: unset;
}
h1 {
    margin: unset;
}
a {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: white;
}
.button {
    border-radius: 40px;
    color: white;
    cursor: pointer;
    padding: 25px;
    background: linear-gradient(var(--secondary), var(--primary));
}
/* Heart button, should probably be replaced with some JS */
.heart .fa-heart {
    line-height: unset;
    background-clip: text;
}
.heart .fa-solid, .heart input {
    display: none;
}
.heart input:checked + label .fa-solid, .heart label:hover{
    display: inline-block;
    background: linear-gradient(var(--primary), var(--secondary));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heart input:checked + label .fa-regular{
    display: none;
}
footer {
    background-color: var(--dark-gray);
    padding: 20px;
}
footer > img {
    filter: invert(1);
    width: 25%;
    margin-bottom: 20px;
}
footer nav {
    display: grid;
    grid-template-columns: 15px auto auto;
    gap: 10px;
    align-items: center;
    grid-template-areas:
        "a b b"
        "c d d"
        "e e e"
        "f f f"
    ;
    color: white;
}
footer a {
    color: white;
}
#footer-utensils {
    grid-area: a;
}
#footer-suggest {
    grid-area: b;
}
#footer-handshake {
    grid-area: c;
}
#footer-partner {
    grid-area: d;
}
#footer-legal {
    grid-area: e;
}
#footer-contact {
    grid-area: f;
}