@use '../abstracts/colors';
@import '../utils/drop-shadow';
.button {
    @include drop-shadow;
    border-radius: 40px;
    display: inline-block;
    color: white;
    padding: 20px;
    background: linear-gradient(colors.$secondary, colors.$primary);
    transition: all 400ms;
    &:hover {
        background: linear-gradient(lighten(colors.$secondary,10%), lighten(colors.$primary,10%));
        @include drop-shadow(15px, 10px, 0.3);
        cursor: pointer;
    }
}