@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap");
:root {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body, h1 {
  margin: unset;
}

a {
  text-decoration: none;
  color: unset;
}

.hidden {
  visibility: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: white;
}
header img {
  max-width: 50vw;
}

footer {
  background-color: #353535;
  padding: 20px;
}
footer > img {
  filter: invert(1);
  max-width: 25%;
  margin-bottom: 15px;
}
footer nav {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
}
footer a {
  color: white;
}
@media only screen and (min-width: 1279px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 50px;
  }
  footer nav {
    flex-direction: row;
    padding-bottom: 10px;
  }
  footer nav > *:nth-child(2) {
    padding-right: 50px;
  }
  footer > img {
    max-width: 10%;
    padding: 0 50px;
    transform: translateY(5px);
  }
}

.button {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
  border-radius: 40px;
  display: inline-block;
  color: white;
  padding: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  transition: all 400ms;
}
.button:hover {
  background: linear-gradient(#fface8, #ae80e5);
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.faded-in:nth-child(1) {
  animation: fade-in ease-in 0.15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(2) {
  animation: fade-in ease-in 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(3) {
  animation: fade-in ease-in 0.45s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(4) {
  animation: fade-in ease-in 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(5) {
  animation: fade-in ease-in 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(6) {
  animation: fade-in ease-in 0.9s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(7) {
  animation: fade-in ease-in 1.05s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(8) {
  animation: fade-in ease-in 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(9) {
  animation: fade-in ease-in 1.35s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(10) {
  animation: fade-in ease-in 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(11) {
  animation: fade-in ease-in 1.65s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(12) {
  animation: fade-in ease-in 1.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(13) {
  animation: fade-in ease-in 1.95s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(14) {
  animation: fade-in ease-in 2.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(15) {
  animation: fade-in ease-in 2.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(16) {
  animation: fade-in ease-in 2.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(17) {
  animation: fade-in ease-in 2.55s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(18) {
  animation: fade-in ease-in 2.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(19) {
  animation: fade-in ease-in 2.85s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(20) {
  animation: fade-in ease-in 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(21) {
  animation: fade-in ease-in 3.15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.heart .fa-heart {
  margin-right: 25px;
  line-height: unset;
  -webkit-background-clip: text;
          background-clip: text;
  transition: all 400ms;
}
.heart .fa-heart:hover {
  cursor: pointer;
}
.heart .fa-solid {
  display: none;
}
.heart input:checked + label .fa-solid, .heart label:hover {
  animation: fade-in 400ms;
  display: inline-block;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart input:checked + label .fa-regular, .heart input {
  display: none;
}

.hidden, .menu-item:not(.menu-item:hover) .fa-circle-check {
  visibility: hidden;
}

.faded-in:nth-child(1), .menu-item:nth-child(1) {
  animation: fade-in ease-in 0.15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(2), .menu-item:nth-child(2) {
  animation: fade-in ease-in 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(3), .menu-item:nth-child(3) {
  animation: fade-in ease-in 0.45s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(4), .menu-item:nth-child(4) {
  animation: fade-in ease-in 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(5), .menu-item:nth-child(5) {
  animation: fade-in ease-in 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(6), .menu-item:nth-child(6) {
  animation: fade-in ease-in 0.9s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(7), .menu-item:nth-child(7) {
  animation: fade-in ease-in 1.05s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(8), .menu-item:nth-child(8) {
  animation: fade-in ease-in 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(9), .menu-item:nth-child(9) {
  animation: fade-in ease-in 1.35s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(10), .menu-item:nth-child(10) {
  animation: fade-in ease-in 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(11), .menu-item:nth-child(11) {
  animation: fade-in ease-in 1.65s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(12), .menu-item:nth-child(12) {
  animation: fade-in ease-in 1.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(13), .menu-item:nth-child(13) {
  animation: fade-in ease-in 1.95s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(14), .menu-item:nth-child(14) {
  animation: fade-in ease-in 2.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(15), .menu-item:nth-child(15) {
  animation: fade-in ease-in 2.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(16), .menu-item:nth-child(16) {
  animation: fade-in ease-in 2.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(17), .menu-item:nth-child(17) {
  animation: fade-in ease-in 2.55s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(18), .menu-item:nth-child(18) {
  animation: fade-in ease-in 2.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(19), .menu-item:nth-child(19) {
  animation: fade-in ease-in 2.85s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(20), .menu-item:nth-child(20) {
  animation: fade-in ease-in 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.faded-in:nth-child(21), .menu-item:nth-child(21) {
  animation: fade-in ease-in 3.15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.menu-item {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
  background-color: white;
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 16pt;
  overflow: hidden;
}
.menu-item div {
  display: flex;
  justify-content: space-between;
}
.menu-item h3, .menu-item p {
  margin: unset;
  font-size: 17pt;
}
.menu-item p {
  font-weight: 300;
  font-size: 15pt;
}
.menu-item data {
  font-weight: bold;
  margin-right: 10px;
  transition: all 400ms;
}
.menu-item .fa-circle-check {
  position: absolute;
  top: 0;
  right: -25px;
  padding: 45px 25px;
  color: white;
  background-color: #99E2D0;
}
.menu-item:not(.menu-item:hover) .fa-circle-check {
  transition: all 400ms;
  transform: translateX(60px);
}
.menu-item:hover .fa-circle-check, .menu-item:hover data {
  transition: all 400ms;
  transform: translateX(-25px);
}
.menu-item:hover data {
  transition: all 400ms;
  transform: translateX(-65px);
}
.menu-item:hover h3, .menu-item:hover p {
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body > img {
  position: relative;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
  width: 100%;
  margin-bottom: -50px;
}
@media only screen and (min-width: 1279px) {
  body > img {
    -o-object-position: 0 -350px;
       object-position: 0 -350px;
  }
}

main {
  border-radius: 50px 50px 0 0;
  overflow: auto;
  padding: 0 20px;
  background-color: #f6f6f6;
}
@media only screen and (min-width: 1279px) {
  main {
    margin: 0 15vw;
    padding: 0 15vw;
  }
}

#order {
  margin-bottom: 40px;
  text-align: center;
}
#order .button {
  width: 175px;
}

section {
  margin-top: 40px;
}
section:not(#order) {
  display: flex;
}
section:not(#title) {
  flex-direction: column;
  gap: 20px;
}

#title {
  align-items: center;
}
#title .heart {
  margin-right: 15px;
}
@media only screen and (min-width: 1279px) {
  #title {
    justify-content: center;
    gap: 25px;
  }
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30pt;
}
@media only screen and (max-width: 1278px) {
  h1 {
    margin-right: auto;
  }
}

h2 {
  margin: unset;
  font-weight: 300;
  display: inline-block;
  justify-content: space-between;
}
h2 span {
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 5px;
}/*# sourceMappingURL=restaurant.css.map */