@use '../abstracts/colors';
@use '../abstracts/fonts';
@use '../abstracts/reset';
@use '../layout/header';
@use '../layout/footer';
@use '../components/button';
@use '../components/heart';
@use '../components/menu-item';
@import '../utils/drop-shadow';
@import '../utils/breakpoints';
$border-radius: 50px;
body > img {
    position: relative;
    z-index: -1;
    object-fit: cover;
    height: 500px;
    width: 100%;
    margin-bottom: -$border-radius;
    @include desktop-breakpoint {
        object-position: 0 -350px;
    }
}
main {
    border-radius: $border-radius $border-radius 0 0;
    overflow: auto;
    padding: 0 20px;
    background-color: colors.$light-gray;
    @include desktop-breakpoint {
        $margin_radius: 15vw;
        margin: 0 $margin_radius;
        padding: 0 $margin_radius;
    }
}
#order {
    margin-bottom: 40px;
    text-align: center;
    .button {
        width: 175px;
    }
}
section {
    margin-top: 40px;
    &:not(#order) {
        display: flex;
    }
    &:not(#title) {
        flex-direction: column;
        gap: 20px;
    }
}
#title {
    align-items: center;
    .heart {
        margin-right: 15px;
    }
    @include desktop-breakpoint {
        justify-content: center;
        gap: 25px;
    }
}
h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 30pt;
    @include mobile-breakpoint {
        margin-right: auto;
    }
}
h2 {
    margin: unset;
    font-weight: 300;
    display: inline-block;
    justify-content: space-between;
    span {
        border-bottom: 4px solid colors.$tertiary;
        padding-bottom: 5px;
    }
}